
<div class="wrapper">
    <h4>TIC TAC TOE</h4>
    <div class="board">
    <div class="block" (click)="move(0)"></div>
    <div class="block" (click)="move(1)"></div>
    <div class="block" (click)="move(2)"></div>
    <div class="block" (click)="move(3)"></div>
    <div class="block" (click)="move(4)"></div>
    <div class="block" (click)="move(5)"></div>
    <div class="block" (click)="move(6)"></div>
    <div class="block" (click)="move(7)"></div>
    <div class="block" (click)="move(8)"></div>
    </div>

    <p>Select Player</p>
      <button (click)="slectPlayer('X')">X</button>      
      <button (click)="slectPlayer('O')">O</button>      
</div>