.wrapper{
    margin: 0 auto;
    text-align: center;

    width: 60%;
}

.board{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.block {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: antiquewhite;
}

p{
    font-size: 22px;
 font-weight: bold;
}

button{
    width: 150px;
    margin: 0 5px;
    height: 50px;
    font-size: 20px;
}